:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --background-origin: #ffffff;
  --background-footer: #2f303a;
  --background-team: #f5f4fa;
  --background-hero: #2f303a;
  --icon-color: #afb1b8;
  --filter-gap: 30px;
  --speed: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.mobile-menu {
  position: relative;
  display: block;
  height: 60px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .mobile-menu {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.open-menu-btn,
.close-menu-btn {
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
}

.open-menu-btn:hover, .open-menu-btn:focus,
.close-menu-btn:hover,
.close-menu-btn:focus {
  color: var(--accent-color);
}

.close-menu-btn,
.open-menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.header__container {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mob-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  z-index: 5;
}

.mob-menu__item {
  display: block;
  justify-content: center;
  align-items: center;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu__link--current {
  color: var(--accent-color);
}

.contact-mob {
  display: block;
  margin-top: auto;
}

.contact-mob__tel {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.08;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  display: block;
  margin-bottom: 32px;
}

@media screen and (min-width: 400px) {
  .contact-mob__tel {
    font-size: 34px;
  }
}

.contact-mob__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mob-social {
  display: flex;
  margin-top: 64px;
  flex-wrap: wrap;
}

.mob-social__item {
  display: flex;
}

.mob-social__item:not(:last-child)::after {
  content: '';
}

@media screen and (min-width: 320px) {
  .mob-social__item:not(:last-child)::after {
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
    margin-left: 10px;
  }
}

.mob-social__item:not(:last-child) {
  margin-right: 10px;
}

.mob-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #eeeeee;
  background-color: var(--background-origin);
}

.site-nav__list,
.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list .site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__list .site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__list .site-nav__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 1;
}

@media screen and (min-width: 1199px) {
  .contact {
    display: flex;
    align-items: center;
  }
}

.contact__header {
  margin-left: auto;
  flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .contact__header .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1199px) {
  .contact__header .contact__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact__item {
  display: flex;
}

.site-nav__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__mobile-menu {
  display: block;
  font-size: 24px;
  line-height: 1.16;
  padding: 16px 0 16px 15px;
}

.logo__header {
  margin-right: 93px;
}

.logo__black {
  color: var(--logo-text-color);
}

.contact__mail,
.contact__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1199px) {
  .contact__mail,
  .contact__tel {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.site-nav__logo,
.site-nav__link {
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact__mail--icon,
.contact__tel--icon {
  transition: color 250ms var(--speed), background-color 250ms var(--speed);
}

.contact__mail--icon {
  fill: currentColor;
  margin-right: 10px;
  width: 16px;
  height: 12px;
}

.contact__tel--icon {
  fill: currentColor;
  margin-right: 10px;
  width: 10px;
  height: 16px;
}

@media screen and (min-width: 1199px) {
  .contact__header {
    flex-direction: row;
  }
}

.hero {
  padding: 118px 0px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 576px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/hero-mobile.jpg);
  }
}

@media screen and (max-width: 576px) and (min-device-pixel-ratio: 2), screen and (max-width: 576px) and (min-resolution: 192dpi), screen and (max-width: 576px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 577px) and (max-width: 960px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/hero-tablet.jpg);
  }
}

@media screen and (min-width: 577px) and (max-width: 960px) and (min-device-pixel-ratio: 2), screen and (min-width: 577px) and (max-width: 960px) and (min-resolution: 192dpi), screen and (min-width: 577px) and (max-width: 960px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 961px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/hero-desktop.jpg);
  }
}

@media screen and (min-width: 961px) and (min-device-pixel-ratio: 2), screen and (min-width: 961px) and (min-resolution: 192dpi), screen and (min-width: 961px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/hero-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0px;
    max-width: 1600px;
  }
}

.hero__title {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.btn {
  width: 200px;
  height: 50px;
  margin: auto;
  align-items: center;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: transparent;
}

.btn:focus, .btn:hover {
  color: var(--main-title-color);
  background-color: var(--accent-color);
}

.excellence-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .excellence__item {
    width: 450px;
  }
}

@media screen and (max-width: 767px) {
  .excellence__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .excellence__item {
    width: calc((100% - 2 * 30) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .excellence__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.excellence__head {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

@media screen and (max-width: 767px) {
  .excellence__head {
    text-align: center;
  }
}

.excellence__text {
  max-width: 450px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .excellence__text {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .excellence__text {
    max-width: 270px;
  }
}

.work {
  padding-top: 0;
  background-color: var(--background-origin);
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  display: flex;
}

.work__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.work__item {
  position: relative;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.team {
  background-color: var(--background-team);
}

.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__item {
    width: 450px;
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: calc((100% - 2 * 30) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 4 * 30) / 4);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-card__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team-card__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.social-card {
  display: flex;
  justify-content: center;
}

.social-card__team-card {
  margin-top: 16px;
}

.social-card__team-card:not(:last-child) {
  margin-right: 10px;
}

.social-card__item:not(:last-child) {
  margin-right: 10px;
}

.social-card__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-card__link:hover, .social-card__link:focus {
  background-color: var(--accent-color);
  fill: var(--main-title-color);
}

.client__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .client__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc((100% - 6 * 30px) / 6);
    margin: 15px;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 92px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:focus, .client__link:hover {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.footer {
  padding: 60px 0;
  background-color: var(--background-footer);
}

@media screen and (max-width: 1199px) {
  .first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1199px) {
  .first__footer {
    flex-grow: 1;
  }
}

.logo__footer {
  display: block;
  margin-bottom: 20px;
}

.logo__light {
  color: var(--main-title-color);
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (max-width: 1199px) {
  .address__list {
    text-align: center;
  }
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address-map {
  font-size: normal;
  color: var(--main-title-color);
}

@media screen and (max-width: 1199px) {
  .second__footer {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .second__footer {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .second__footer {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .second__footer {
    margin-left: 70px;
  }
}

.social-card__footer-card {
  margin-top: 20px;
}

.footer-card__link {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-card__link:hover, .footer-card__link:focus {
  background-color: var(--accent-color);
}

.footer-card__icon {
  fill: var(--main-title-color);
}

.footer-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

@media screen and (max-width: 1199px) {
  .third {
    text-align: center;
    margin-top: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}

.subscription-input {
  width: 94vw;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .subscription-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-input {
    width: 358px;
  }
}

.subscription-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-btn {
  height: 50px;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--main-title-color);
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 1199px) {
  .subscription-btn {
    margin-top: 20px;
  }
}

.subscription-btn-svg {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1199px) {
  .footer__container {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .third__footer {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .filter-list {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter-item {
    margin-top: 15px;
  }
}

.filter-button {
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  color: var(--main-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-link:focus, .filter-link:hover {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter-link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.filter-img-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.filter-img-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

@media screen and (min-width: 768px) {
  .filter-img-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--filter-gap));
    margin-bottom: calc(-1 * var(--filter-gap));
  }
}

@media screen and (max-width: 767px) {
  .filter-img-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .filter-img-list > .filter-img-item {
    flex-basis: calc(100% / 2 - var(--filter-gap));
    margin-right: var(--filter-gap);
    margin-bottom: var(--filter-gap);
  }
}

@media screen and (min-width: 1200px) {
  .filter-img-list > .filter-img-item {
    flex-basis: calc(100% / 3 - var(--filter-gap));
    margin-right: var(--filter-gap);
    margin-bottom: var(--filter-gap);
  }
}

.card-content {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-content {
    flex-grow: 1;
  }
}

.footer-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-img-item:hover .filter-activ-text {
  transform: translateY(0);
}

.filter-link:focus .filter-activ-text {
  transform: translateY(0);
}

.filter-item-wrap {
  position: relative;
  overflow: hidden;
}

.filter-activ-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  color: var(--main-title-color);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  overflow: auto;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 750ms, visibility 750ms;
  overflow-y: scroll;
}

.backdrop.is-hidden .modal {
  transform: scale(-1.5) translateY(-1000px);
  transition: transform 750ms, visibility 750ms;
}

.modal {
  width: 95vw;
  min-height: 581px;
  background-color: var(--background-origin);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transform: scale(-1) translateY(0);
  transition: transform 750ms;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 520px;
  }
}

.modal__close {
  width: 30px;
  height: 30px;
  background-color: var(--background-origin);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-text-color);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.form-input-text {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-input-text:not(:first-child) {
  margin-top: 10px;
}

.modal-form-text {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.modal-form-text::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-wrap {
  margin-top: 4px;
  display: block;
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-text {
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-field {
  margin-top: 20px;
}

.check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.check-item {
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-title-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-icon {
  fill: var(--main-title-color);
}

.modal-check:checked + .check-text .check-item {
  background-color: var(--accent-color);
  border: none;
}

.check-text__link {
  margin-left: 2px;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal__btn {
  margin-top: 30px;
}
/*# sourceMappingURL=main.css.map */